
body {
  background: url("../images/travel_collage.png");
  font-family: 'Merienda', cursive;
}

#masthead {
  margin-top: 40px;
  font-size: 36px
}

#press-any {
  font-family: 'Redressed', cursive;
}

#game-display {
  margin-top: 50px;
}

.card-body {
  height: 200px;
  font-family: 'Merienda', cursive;
  font-size: 40px;
}

#right-side-footer {
  height: 140px;
}

#pfooter {
  text-align: left;
  color: #460404;
  font-size: 22px;
  font-weight: 900;
}
#sticky-footer {
  position: static;
  height: 50px;
  background-color: #e7cd78;
  opacity: .50;
  padding-top: 8px;
  margin-top: 55px;
}

